.settings/
.cache/
build/

Release/
Debug/

.vimcfg
compile_commands.json
init_mem.txt
package.dat
log.txt

./software_lib_driver_core0/main.c
./software_lib_driver_core0/.cproject
./software_lib_driver_core0/ftp_auto.txt
./software_lib_driver_core0/after_cmd.bat
./software_lib_driver_core1/.cproject
./software_lib_driver_core1/ftp_auto.txt
./software_lib_driver_core1/after_cmd.bat
